#canvas-container {
  margin: 0 auto;
  margin-top: 5px;
  width: 310px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & canvas {
    border: 2px solid #000;
  }
}
